#displayPage{
    display: flex;
    flex-direction:column;
    background-image: url("../images/carambar-1600x784.webp");
    height: 100vh;}
button{
        cursor: pointer;
    background-color: red;
    border-color: white;
    border-radius: 5%;
    border-width: 5px;
    display: flex;
    height: 6%;
    margin-inline: auto;
    margin-top: 35%;
    font-family: 'Caberolla Free';
    font-size: x-large;
    font-weight: bold;
    color: yellow;
    padding: 1%;
}
#displayJoke{
    display:flex
}
#joke{
    display: flex;
    flex-direction:column;
    margin-inline: auto;
    background-color: white;
    margin-top: 2%;
    padding: 1%;
    border-radius: 2%;
    display: flex;
    margin-inline: auto;
    background-color: white;
}
